* {
    margin: 0px;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-image: url(/img/bg-palm.jpg);
}

.avatar  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 90px;
    padding: 20px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 30px;
    list-style: none;
}

.link {
    padding: 5px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    
}

.imagenRedes {
    margin: 4%;
    width: 42px;
    height: 42px;

}